body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  font-size: 16pt;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

h1 {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

td, th {
    padding-left: 1ex;
    padding-right: 1ex;
    text-align: left;
}

.death-change, .case-change {
    text-align: right;
}

.date, .death-graph, .case-graph {
    text-align: left;
}

.current {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0.5ex;
    margin: 0;
}

ul li {
    padding: 0.25ex;
}

#github {
    font-size: 75%;
}

@media screen and (max-width: 1024px) {
    table {
        font-size: 1.4vw;
    }
    td.death-change, td.case-change, td.date {
        font-size: 150%;
    }
}
