body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

td, th {
    padding-left: 1ex;
    padding-right: 1ex;
    text-align: left;
}

.death-change, .case-change {
    text-align: right;
}

.date, .death-graph, .case-graph {
    text-align: left;
}
